# cuGraph Cheat Sheets sample code

(c) 2020 NVIDIA, Blazing SQL

Distributed under Apache License 2.0

### Imports

In [1]:
import cudf
import cugraph
import json 
import pandas as pd

### Create graph dataframes

We use the Star Wars social network graph prepared by Evelina Gabasova: Gabasova, E. (2016). Star Wars social network. DOI: https://doi.org/10.5281/zenodo.1411479.

In [2]:
interactions = json.loads(open('data/starwars-full-interactions.json', 'r').read())

edges = cudf.from_pandas(pd.DataFrame(interactions['links']))
nodes = cudf.from_pandas(pd.DataFrame(interactions['nodes'])).drop('colour', axis=1).reset_index()

g = cugraph.Graph()
g.from_cudf_edgelist(
    edges
    , source='source'
    , destination='target'
    , edge_attr='value'
    , renumber=True
)

---

# Graph transformation

---

#### cugraph.structure.graph.Graph.add_internal_vertex_id()

In [4]:
g.add_internal_vertex_id(nodes, external_column_name='index', internal_column_name='mapped_vertex_id')

              name  value mapped_vertex_id
0          QUI-GON     61                9
1      NUTE GUNRAY     24               11
2             PK-4      3               56
3            TC-14      4               80
4          OBI-WAN    147                5
..             ...    ...              ...
105      YOLO ZIFF      3              108
106  COLONEL DATOO      3               79
107      ELLO ASTY      4               31
108           JESS      4               32
109        NIV LEK      3               55

[110 rows x 3 columns]

#### cugraph.structure.graph.Graph.clear()

In [5]:
g.clear()

#### cugraph.structure.graph.Graph.compute_local_data()

#### cugraph.structure.graph.Graph.compute_renumber_edge_list()

#### cugraph.structure.graph.Graph.delete_adj_list()

In [6]:
g.delete_adj_list()

#### cugraph.structure.graph.Graph.delete_edge_list()

In [7]:
g.delete_edge_list()

#### cugraph.structure.graph.Graph.enable_batch()

#### cugraph.structure.graph.Graph.get_two_hop_neighbors()

In [5]:
g.get_two_hop_neighbors()

      first  second
0        63      19
1        63      34
2        63      36
3        63      44
4        63      46
...     ...     ...
4845      1      25
4846      1      27
4847      1      37
4848      1      41
4849      1      56

[4850 rows x 2 columns]

#### cugraph.structure.graph.Graph.lookup_internal_vertex_id()

In [6]:
g.lookup_internal_vertex_id(cudf.Series([0,1,2,3]))

0     9
1    11
2    56
3    80
Name: id, dtype: int32

#### cugraph.structure.graph.Graph.unrenumber()

In [8]:
edges

     source  target  value
0         1       0      1
1         2       3      1
2         4       3      1
3         0       3      1
4         4       0     26
..      ...     ...    ...
393     108     105      1
394     108      91      2
395     107     108      2
396      91     105      1
397     107     105      1

[398 rows x 3 columns]

#### cugraph.structure.symmetrize.symmetrize()

In [3]:
src, dst, val = cugraph.symmetrize(edges['source'], edges['target'], edges['value'])

#### cugraph.structure.symmetrize.symmetrize_ddf()

#### cugraph.structure.symmetrize.symmetrize_df()